body {
    background-color: lightgray;
    font-size: 16px;
}

form {
    font-size: 16px;
    background-color: lightblue;
    border: 3px solid blue;
    padding: 20px;
}

div {
    font-size: 16px;
    background-color: rgb(255, 255, 145);
    border: 3px solid orange;
    padding: 20px;
}

.pendingState {
    background-color: green;
}

.completedState {
    text-decoration: line-through;
    background-color: red;
}